.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,1);
  z-index: 1000;
}

button {
  width: 20rem;
  height: 10rem;
  color: black;
  font-size: 3rem;
  margin-top: 20%;
  border-radius: 50px;
}