.scene {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 20px;
  margin: 0.1rem;
  object-fit: cover;
}

.sceneeasy {
  width: 5rem;
  height: 5rem;
  border-radius: 20px;
  margin: 0.1rem;
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(247, 248, 169);
  border-radius: 10px;
}

.card__face--front img {
  padding-top: 0.4rem;
  width: 80%;
}

.card__face--fronteasy {
  background: rgb(247, 248, 169);
  border-radius: 20px;
}

.card__face--fronteasy img {
  padding-top: 0.4rem;
  width: 80%;
}

.card__face--back {
  background: rgb(183, 232, 255);
  transform: rotateY(180deg);
  border-radius: 10px;
}

.card__face--backeasy {
  background: rgb(183, 232, 255);
  transform: rotateY(180deg);
  border-radius: 20px;
}

/* .card__face--back:hover {
  background-color: rgba(255, 251, 231, 0.5);
} */

.card__face--back-img-container {
  padding: 0rem 0.5rem;
  width: 70%;
}

.card__face--back-img-container img {
  width: 100%;
}

.card__face--back-img-containereasy img {
  width: 90%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}