button {
  width: 10rem;
  height: 5rem;
  color: black;
  font-size: 1.5rem;
  margin-top: 20%;
  border-radius: 50px;
}

select {
  margin-top: 5rem;
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.startgame-button {
  background: white;
  margin-top: 1rem;
  font-family: 'Anton', sans-serif;
}