.endmodal {
  color: orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 50%;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 60px;
  border: solid 2px black;
  transition: .4s;
  opacity: 0;
  transform: scale(0)
}

.endmodal.show {
  opacity: 1;
  transform: scale(1);
  z-index: 900;
}

.newgame-endgame-button {
  /* margin-top: 4rem; */
  background: rgb(247, 248, 169);
  font-family: 'Anton', sans-serif;
  width: 10rem;
  height: 5rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 50px;
}

p {
  margin: 0;
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {}

/* Medium phone devices (phones, 410px and up) */
@media only screen and (min-width: 410px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}