.App {
  text-align: center;
}

.container {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, auto));
  grid-gap: 0.5rem;
  width: 100vw;
}

.container-easy {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, auto));
  grid-gap: 0.5rem;
  width: 100vw;
}

.stats {
  display: flex;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.round {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 1rem 3rem 1rem;
}

.spacer {
  flex: 1;
}

.timer {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 1rem 3rem 1rem;
  padding-right: 0.5rem;
}

.newgame-button {
  background: rgb(247, 248, 169);
  font-family: 'Anton', sans-serif;
  width: 10rem;
  height: 5rem;
  color: black;
  font-size: 1.5rem;
  margin-top: 50%;
  border-radius: 50px;
}
