.App {
  text-align: center;
}

.container {
  justify-content: center;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0.4rem;
  width: 100vw;
}

.container-easy {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.3rem;
  width: 100vw;
}

.stats {
  display: flex;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.round {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 1rem 3rem 1rem;
}

.spacer {
  flex: 1;
}

.timer {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 1rem 3rem 1rem;
  padding-right: 0.5rem;
}

.newgame-button {
  background: rgb(247, 248, 169);
  font-family: 'Anton', sans-serif;
  width: 10rem;
  height: 5rem;
  color: black;
  font-size: 1.5rem;
  margin-top: 50%;
  border-radius: 50px;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .container {
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.3rem;
  }

  .container-easy {
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.2rem;
  }
}

/* Medium phone devices (phones, 410px and up) */
@media only screen and (min-width: 410px) {
  .container {
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.3rem;
  }

  .container-easy {
    grid-template-columns: auto auto auto auto;
    grid-gap: 0rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0rem;
  }

  .container-easy {
    grid-template-columns: auto auto auto auto;
    grid-gap: 0rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .stats h1 {
    font-size: 2rem;
  }
  .container {
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0rem;
  }

  .container-easy {
    grid-template-columns: auto auto auto auto;
    grid-gap: 0rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.3rem;
  }

  .container-easy {
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.3rem;
  }
}
